<!DOCTYPE html>

<html lang="es">

<head>
    <%- include('partials/headMetas') %>
    <title>Registro | Social Network of Movies</title>
    <%- include('partials/headLinks') %>

</head>

<body>

    <%- include('partials/header') %>


    <%- include('partials/footer') %>

    <%- include('partials/jsUnderHtml') %>
</body>

</html>
